[MESSAGES CONTROL]

disable =
    broad-except,
    global-statement,
    invalid-name,
    missing-docstring,
    no-member,
    no-self-use,
    redefined-outer-name,
    unused-argument,
    wrong-import-order,
